<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <link rel="stylesheet" href="_includes/css/styles.css">

    <script src="_includes/js/main.js"></script>
    <script src="https://unpkg.com/phosphor-icons"></script>

</head>

<body>
<header>
    <nav>
        <div class="dropdown">
            {%- for page in collections.pages -%}
            <a href="{{ page.url }}">{{ page.data.title }}</a>
            {%- endfor -%}

            <a href="/">HOME</a>
            <a href="/">READ LETTERS</a>
            <a href="/">WRITE A LETTER</a>

            <a href="/" class="about">ABOUT <i class="ph-caret-down"></i></a>

            <div class="dropdown-content">
                <a href="/">ABOUT OMEGA X</a>
                <a href="/">ABOUT THE SITE</a>
            </div>
        </div>
    </nav>
</header>


{{{content}}}

<div class="empty">
    <!--nothing-->
</div>

{{{footer}}}

</body>
</html>



